
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
   margin: 0;
   padding: 0;
}

body {
   padding-top: 0%;
   box-sizing: border-box;
   background-color: black;
   color: white;

}

strong {
   color: #f749da;
}
.elemento-pai {
   padding:0 12%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 0;
}

.apresentacao__conteudo {
   width: 615px;
   display: flex;
   flex-direction: column;
   gap: 40px;
   
}

.apresentacao__titulo {
   font-size: 36px;
   font-family: "Kanit", sans-serif;
   font-weight: 400;
}

.cabecalho_menu {
   font-family: "Kanit", sans-serif;
   font-weight: 400;
   font-size: 36px;
   color:  #f749da;
   margin-right: 10px;
   padding: 10px 20px;
   text-decoration: none;
}

.cabecalho {
   padding:2% 0% 0% 12%;
   
}

.apresentacao__paragrafo {
   font-size: 24px;
   font-family: "Kanit", sans-serif;
   font-weight: 200;
}
.apresentacao__botoes {
   display: flex;
   flex-direction: column ;
   align-items: center;
   justify-content: space-between;
   gap: 30px;
}
.apresentacao_subtitulo{
   font-family: "Kanit", sans-serif;
   font-weight: 400;
   font-size: 24px;

}
.apresentacao__link {
   /* background-color:rgb(245, 101, 190); */
   display: flex;
   justify-content: center;
   gap: 16px;
   width: 380px;
   text-align: center;
   border-radius: 8px;
   font-size: 24px;
   padding: 21.5px 0;
   text-decoration: none;
   color: #f6f6f6;
   border:2px solid #f749da;
   font-family: "Kanit", sans-serif;
   font-weight: 400;
   

}

.apresentacao__link  { 
   display: inline-flex; /* Torna os links em linha com a imagem e o texto */
  align-items: center; /* Alinha o texto e a imagem verticalmente */
  padding: 8px 12px; /* Ajuste o padding para controlar o espaço ao redor */
  text-decoration: none;
}
.apresentacao__link img {
   width: 20px; /* Ajuste o tamanho da imagem */
   height: auto; /* Mantém a proporção da imagem */
   margin-right: 8px; /* Espaço entre a imagem e o texto */
 }

.imagem {
   width: 600px;
   height: auto;
   margin-top: -10px;
}

.apresentacao__link:hover {
   background-color: rgb(19, 17, 17);
}

.rodape {
   padding: 24px;
   color: #000;
   background-color: #f749da;
   text-align: center;
   font-family: "Kanit", sans-serif;
   font-weight: 400;
   bottom: 1%;
   position: absolute;
   width: 100%;
}

.menu {
   display: flex;
   gap:100px;
}